*.class

# Package Files #

*.war
*.ear

# idea
*.dll
logs/**
.settings/*
.classpath
.project
*.ppt
*~*.docx
output/**

target/*

*.classpath
*.project
*.settings/**
build/**
dll/**


*.iml
/.gradle
/.idea

/target
/out
/gradle
gradlew
gradlew.bat
/local.properties
/app/build
